<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Road object detection demo</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
<h3>Road Object Detector</h3>
<header class="navbar">
    <form action="/upload" method="post" enctype="multipart/form-data">
        <span class="btn btn-default btn-file">
            Browse <input type="file" name="image">
        </span>

        <input type="submit" value="Upload your image" class="btn btn-primary">
    </form>
</header>

<div class="text-center">
    {% if link %}
    <div class="alert alert-success" style="margin-top:18px;">
        <strong>Success!</strong> Your image was upload successfully.
    </div>
    <img src="{{link}}">
    {% endif %}
</div>
</body>
</html>